<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- SEO收索优化 -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="telephone=no" name="format-detection">
<meta name="keywords" content="关键字,云日记" />
<meta name="description" content="简介,云日记管理后台" />
<meta http-equiv="windows-Target" contect="_top">
	<title>云日记[login]</title>
    <link rel="stylesheet" href="__STATIC__/Admin/public/css/login.css">
</head>
<body>
<div class="login">
    <div class="login_title">
        <p>北斗车联网大数据服务平台</p>
    </div>
    <div class="login_main">
        <div class="main_left"></div>
        <div class="main_right">
            <div class="right_title">用户登录</div>
            <form action="">
                <div class="username">
                    <img src="__STATIC__/Admin/public/img/username.png" alt="">
                    <input type="text" placeholder="请输入用户名">
                </div>
                <div class="password">
                    <img src="__STATIC__/Admin/public/img/password.png" alt="">
                    <input type="text" placeholder="请输入密码">
                </div>
                <div class="code">
                    <img src="__STATIC__/Admin/public/img/code.png" alt="">
                    <input type="text" placeholder="请输入验证码">
                    <div class="code_img">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="yes_login"><a href="">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
            </form>
        </div>
    </div>
    <div class="login_footer">
        <!--<p class="name">北京XXXX信息科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP：京B2-20170028</p>-->
        <!--<p>联系电话：18588888888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;010-2888888</p>-->
        <p>建议浏览器：IE9以上、Firefox v22</p>
    </div>
</div>

</body>
</html>
