
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="telephone=no" name="format-detection">
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>收徒赚钱</title>
<link type="text/css" rel="stylesheet" href="http://m.test.anzhi.com//static/m/css/common.css?v1"/>
<script type="text/javascript"  src="http://img4.anzhi.com/static/public/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="http://m.test.anzhi.com//static/m/js/public.js"></script>
<script type="text/javascript" src="http://m.test.anzhi.com//static/m/js/clipboard.min.js"></script>
<style>
/*#FontScroll{width:500px;height:30px;line-height:41px;overflow:Hidden;padding:10px 0;margin:0 auto;font-size: 0.2rem;}#FontScroll .line{text-align:center;width:100%}*/
#FontScroll{width:100%;height:0.53rem;;line-height:0.53rem;overflow:Hidden;padding:0 0 0 0;margin:0 auto;font-size: 0.2rem;}#FontScroll .line{text-align:center;width:100%}
</style>
</head>
<body>
<div class="banner" style="width: 100%;height: 4.41rem;background:url(http://m.test.anzhi.com/cmcc/img/201901/16/35993400.png) no-repeat;background-size: 100% 100%;">
	<div class="banner_top" id="FontScroll">
		            <ul class="lamp" style="text-align: center">
							<li>186****2492成功收下1名徒弟，获得20元现金</li>
							<li>159****6652成功收下1名徒弟，获得20元现金</li>
							<li>176****7763成功收下1名徒弟，获得20元现金</li>
							<li>****成功收下5名徒弟，获得100元现金</li>
							<li>186****9780成功收下1名徒弟，获得20元现金</li>
							<li>131****1561成功收下1名徒弟，获得20元现金</li>
							<li>****成功收下3名徒弟，获得60元现金</li>
							<li>183****8992成功收下1名徒弟，获得20元现金</li>
							<li>158****3672成功收下2名徒弟，获得40元现金</li>
			            </ul>
                <p class="banner_top" style='z-index:10;position:fixed;top:0;width:100%;margin-top:0'></p>
	</div>
                <div class="banner_bottom">
		<div class="banner_btn">
			<a href="javascript:;" onclick="login(login_url,version_code)" class="fl">分享收徒赚钱</a>
                        <a href="javascript:;" onclick="login(login_url,version_code)" class="fr">我的进度</a>
			<div class="clear"></div>
		</div>
		<a href="javascript:;" onclick="login(login_url,version_code)" class="banner_btn2">我要拜师</a>
	</div>
        </div>
    <div class="main"><div class="wrap get_wrap">
	<h3 class="title">
		如何拿到<span>11.4</span>元
	</h3>
	<p>
		师傅收徒，徒弟完成下载并进入本页完成拜师
	</p>
<span class="get_money">2元<em>立得</em></span> 
	<p>
		徒弟连续7天签到并完成有效操作
	</p>
	<table cellspacing="0" class="table1">
		<thead>
			<tr>
				<th style="border-radius:6px 0 0 0;">
					师傅
				</th>
				<th style="border-radius:0 6px 0 0;">
					徒弟
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					9.6元
				</td>
				<td>
					9.6元
				</td>
			</tr>
		</tbody>
	</table>
</div>
1.收徒弟成功必得2元，当天立即到账。收徒越多，赚的越多。<br />
<br />
<span style="color:#E53333;">如何拿到11.4元</span><br />
<span style="color:#E53333;"> 师傅收徒，徒弟完成下载并进入本页完成拜师</span><br />
<br />
<span style="color:#E53333;"> 2元立得</span><br />
<span style="color:#E53333;"> 徒弟连续7天签到并完成有效操作</span><br />
<br />
<span style="color:#E53333;"> 师傅</span><span style="white-space:pre;"> </span><span style="color:#E53333;">徒弟</span><br />
<span style="color:#E53333;"> 9.6元</span><span style="white-space:pre;"> </span><span style="color:#E53333;">9.6元</span><br />
<div style="white-space:nowrap;">
	<br />
</div></div>
    <div class="main"><div class="wrap rule_wrap">
	<h3 class="title">
		规则说明
	</h3>
	<div class="rule">
		<p>
			1.收徒弟成功必得2元，当天立即到账。收徒越多，赚的越多。
		</p>
		<p>
			2.徒弟每日完成如下操作，总奖励经验值大于等于10，即视为当日操作有效。
		</p>
		<table cellspacing="0" class="table1" style="margin-bottom:0.2rem;">
			<tbody>
				<tr>
					<th>
						操作
					</th>
				</tr>
				<tr>
					<td>
						打开安智市场
					</td>
				</tr>
				<tr>
					<td>
						搜索应用
					</td>
				</tr>
				<tr>
					<td>
						下载应用
					</td>
				</tr>
				<tr>
					<td>
						进入应用详情页
					</td>
				</tr>
				<tr>
					<td>
						进入内览页面
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			3.请遵守安智市场规则，如通过技术手段获得活动奖励则系统会判定为违规，并永久封号。
		</p>
		<p>
			4.所有收益金额有效期为一年，过期后将自动清零。
		</p>
		<p>
			5.收徒活动最终解释权归安智市场所有。
		</p>
	</div>
</div></div>
<section>
    <div id="body-bg" style="display: none;height:100%"></div>
    <div class="tip-box" id="tip-box2"  style="display: none;">
		<div class="tip-title">
			<h6>温馨提示</h6>
			<span onclick="cloBox('#tip-box1')"></span>
		</div>
                <div class="tip-con">
			<p id="tip">经系统检测，您的账号存在违规行为<br/>不得继续参与活动</p>
		</div>
		<a href="javascript:;" onclick="cloBox('#tip-box2')" class="btns_01">确定</a>
    </div>
</section>
<script type="text/javascript">
var lie_length = $('#FontScroll li').length;
$(function(){
    $('#FontScroll').FontScroll({time: 5000,num: 1});
});
(function($) {
    $.fn.FontScroll = function FontScroll(options) {
        var d = {
            time: 3000,
            num: 1
        }
        var o = $.extend(d, options);
        this.children('ul').addClass('line');
        var _con = $('.line').eq(0);
//        var _conH = _con.height();
//        var _conChildH = _con.children().eq(0).height();
        var _conH = $('body').width()/6.4*0.53*lie_length;
        var _conChildH = $('body').width()/6.4*0.53;
        var _temp = _conChildH;
        var _time = d.time;
        var _s = d.s;
        _con.clone().insertAfter(_con);
        var num = d.num;
        var _p = this.find('li');
        var allNum = _p.length;
        _p.eq(num).addClass(_s);
        var timeID = setInterval(Up, _time);
        this.hover(function() {
            clearInterval(timeID)
        },
        function() {
            timeID = setInterval(Up, _time);
        });
        function Up() {
            _con.animate({
                marginTop: '-' + _conChildH
            });
            _p.removeClass(_s);
            num += 1;
            _p.eq(num).addClass(_s);
//            if (_conH == _conChildH) {
            if (_conH <= _conChildH) {
                _con.animate({
                    marginTop: '-' + _conChildH
                },
                "normal", over);
            } else {
                _conChildH += _temp;
            }
        }
        function over() {
            _con.attr("style", 'margin-top:0');
            _conChildH = _temp;
            num = 1;
            _p.removeClass(_s);
            _p.eq(num).addClass(_s);
        }
    }
}
)(jQuery);
</script>
<script type="text/javascript">
//107912249 730139239 731888117 11024525
    var flags={canMove:true};
    function showOpenBox(obj,str){
        var bg_h=$(window).height() + $(document).scrollTop(),
            top_h= $(obj).height()/ 2 - $(document).scrollTop();
        $(obj).css("margin-top",-top_h+"px").show();
//        $("#body-bg").css("height",bg_h+"px").show();
        $("#body-bg").css("height",document.body.clientHeight+"px").show();
        $('#tip').html(str);
        flags.canMove=false;
		window.onresize = function(){
			var bg_h=$(window).height() + $(document).scrollTop(),
                top_h= $(obj).height()/ 2 - $(document).scrollTop();
			$('#body-bg').css("height",bg_h+"px");
			$(obj).css("margin-top",-top_h+"px");	
		}
    }
    function cloBox(obj){
        $(obj).hide();
        $("#body-bg").hide();
        flags.canMove=true;
    }
    $(function(){          
		$("body").bind('touchmove', function (e) {
            if(!flags.canMove){
                e.preventDefault();	
            }
        });
    })
    var clipboard = new Clipboard('.ydCopy');
    clipboard.on('success', function (e) {
        showOpenBox('#tip-box2','复制成功');
    });
    clipboard.on('error', function (e) {
        showOpenBox('#tip-box2','复制失败，请手动复制');
    });
    var init_status = "";
    var version_code = "";
    var login_url = "http://dev.i.anzhi.com/mweb/account/login?serviceId=014&serviceVersion=5410&serviceType=0&redirecturi=http://m.test.anzhi.com/lottery/m/index.php?";
    var is_login = "2";
    var sid = "";
//    if(is_login==2){
//        login(login_url,version_code);
//    }
//    if(init_status==-1 && is_login==1){
////        showOpenBox('#tip-box2','经系统检测，您的账号存在违规行为<br/>不得继续参与活动');
//    }else if(init_status==-2 && is_login==1){
//        bMobile();
//    }
    //分享
    function go_share(){
        var share_text="我是，快来领257.18元现金！快来和我一起躺着赚钱";	
        var share_url='http://m.test.anzhi.com/m/share.php?yqm=';
        var share_json = '{"TEXT":"'+share_text+'","URL":"http://img3.anzhi.com/static/double_color_ball/images/share.png","ACTIONURL":"'+share_url+'","URLWEIXIN":"http://img3.anzhi.com/static/double_color_ball/images/share.png"}';
        if(typeof(window.AnzhiActivitys.getShareDialog) != "undefined"){
             window.AnzhiActivitys.getShareDialog(share_json);
        }
    }
    function login(login_url,version_code){
	if(version_code >= 6610 ){
            window.AnzhiActivitys.login();
            javascript:window.history.forward(1); 
            //logout();
	}else{
//            location.href=login_url;
	}
    }
    function onLoginComplete(sid,tip){
	sid_str = sid.replace("PHPSESSID=", "");
	location.href="/m/index.php?sid="+sid_str;
    }
    function bMobile(){
        if(typeof(window.AnzhiActivitys.launchTelBindActivity) != "undefined"){
            var url = 'http://m.test.anzhi.com/m/index.php?sid='+sid;
            window.AnzhiActivitys.launchTelBindActivity(url);
        }
    }
</script> 
</body>
</html>