<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1,viewport-fit=cover">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="apple-mobile-web-app-capable" content="no">
<link rel="stylesheet" href="/tp5_blog/static/css/baidu2.css" type="text/css" media="screen">

</head>
<body class="isH5 font-size-1 hideSpot" ontouchstart="">
	<div class="wrap" id="page_wrapper">
		<div>
			<div class="mod" id="content_wrapper">
				<header class="landingHead">
					<h1 class="titleSize">{$content.title}</h1>
					<section class="layout columnCenter rowBetween">
						<h3 class="layout columnCenter layHorizontal layFlex">
							<div class="avatarLink">
								<a class="borderLine">
								<img src="https://timg01.bdimg.com/timg?pacompress=&amp;imgtype=0&amp;sec=1439619614&amp;autorotate=1&amp;di=5dd592613b626bb171c8f7ddad1e4cb4&amp;quality=90&amp;size=b105_105&amp;src=http%3A%2F%2Fpic.rmb.bdstatic.com%2F692730e90c7e0e4005c90fcbdeba8a8d.jpeg"></a>
								<span class="vip vip2"></span>
							</div>
							<div class="extraInfo">
								<a href="https://baijiahao.baidu.com/u?app_id=1537196318595058" class="authorName">新华网</a>
								<div class="infoSet">
									<span>01-24 08:05</span>
								</div>
							</div>
						</h3>
						<div class="followSuper">关注</div>
						<div class="linepxA followMoreIcon activeClose" style="">
							<span class=""></span>
						</div>
					</section>
				</header>
				<div>
					<div class="mainContent iosStyle" style="height: 800px;">
						{$content.content}
						<div class="contentMedia contentPadding">
							<div class="contentImg linexRBS" style="max-width: 500px;">
								<div style="padding-top: 66.6%;">
									<img src="https://f10.baidu.com/it/u=1616703507,2923664392&amp;fm=173&amp;app=49&amp;f=JPEG?w=500&amp;h=333&amp;s=1C41B9448330ADCE0E7C91090300C092&amp;access=215967316"
										data-index="0" onload="">
								</div>
							</div>
						</div>
						123456789
						123456789
						123456789
						123456789
						123456789
					</div>
					<audio height="0" width="0" id="landingAudio"></audio>
					<div class="packupButton contentPadding packupButton3 " key="1">
						<div class="gradient">
							<span class="packupArrow"></span>
						</div>
						<div class="openall3" key="2">打开百度App阅读全文</div>
					</div>
				</div>
				<footer class="_1FA6Djog2wSO1FSL_nc0v0 commonPadding">
					<h2 style="display: none;"></h2>
					<p>本文由百家号作者上传并发布，百家号仅提供信息发布平台。文章仅代表作者个人观点，不代表百度立场。未经作者许可，不得转载。</p>
				</footer>
				<div class="horizontal">
					<div
						class="_1Z1l65ITr2EZ7gMMuXtHvh _3Zy7IkFq4lF9UgzHt7GSBU _2Zq1RaX1sO8lp0qXn9kKNc">
						<span class="wVsnPnUBeAgxOLKa6nJ2B"></span>
						<span class="_13oGI_hJrqOWHNxmqf0S9F">举报</span>
					</div>
				</div>
				<div class="bottomMargin"></div>
			</div>
			<div id="searchwordSdk" style="border-bottom: 0.08rem solid rgb(245, 245, 245);">
				<div class="nwixtskN-container">
					<div class="nwixtskN-row nwixtskN-title">
						<span>大家都在搜</span>
					</div>
					<div class="nwixtskN-content">
						<div class="nwixtskN-row">
							<a class="nwixtskN-span nwixtskN-word"
								href="https://entry.baidu.com/rp/url?fm=click&amp;r_type=link&amp;r_sp=qwcom&amp;di=qw10009&amp;baiduid=3E7245B8F5F0343EEBF3CEB4C0BF9EA5&amp;r_qid=a7c33bb66fa55a50&amp;r_sid=&amp;url=https%3A%2F%2Fbaijiahao.baidu.com%2Fs%3Fid%3D1623497979633629578%26wfr%3Dspider%26for%3Dpc%26isFailFlag%3D1&amp;query=&amp;title=百家号将依托AI技术赋能创作者&amp;recommtype=64100089&amp;rank=0&amp;oq=&amp;jump_url=https%3A%2F%2Fm.baidu.com%2Fs%3F%26word%3D%25E7%2599%25BE%25E5%25AE%25B6%25E8%25B5%258B%26sa%3Dre_dl_fdqw_cont%26from%3D1020853i%26rsf%3D12916927483551239_64100089%26oq%3D%26dsid%3D"><div
									class="nwixtskN-text">
									<p>百家赋</p>
								</div></a><a class="nwixtskN-span nwixtskN-word"
								href="https://entry.baidu.com/rp/url?fm=click&amp;r_type=link&amp;r_sp=qwcom&amp;di=qw10009&amp;baiduid=3E7245B8F5F0343EEBF3CEB4C0BF9EA5&amp;r_qid=a7c33bb66fa55a50&amp;r_sid=&amp;url=https%3A%2F%2Fbaijiahao.baidu.com%2Fs%3Fid%3D1623497979633629578%26wfr%3Dspider%26for%3Dpc%26isFailFlag%3D1&amp;query=&amp;title=百家号将依托AI技术赋能创作者&amp;recommtype=64100089&amp;rank=1&amp;oq=&amp;jump_url=https%3A%2F%2Fm.baidu.com%2Fs%3F%26word%3D%25E7%2599%25BE%25E5%25AE%25B6%25E8%25B5%258B%25E8%258C%25B6%25E5%258F%25B6%26sa%3Dre_dl_fdqw_cont%26from%3D1020853i%26rsf%3D12916927483551239_64100089%26oq%3D%26dsid%3D"><div
									class="nwixtskN-text">
									<p>百家赋茶叶</p>
								</div></a>
						</div>
					</div>
				</div>
			</div>
			<div class="outmargin">
				<div class="related-news">
					<div class="_3Lg9_aL1ZIf7Ry_XN0wdHc">
						<div class="_1T6TbV3IOYsTyKUDLU3h5K">
							<span>相关阅读</span>
						</div>
						<ul class="contentFont">
							<li class="_1_TZfvoioDuZqfv4BWZrD0"><div
									class="_3WFzQS_lKvtlzIVerP0mqD">
									<div class="AfkfFyJW6qiLWU5gsNZtp">
										<img
											src="https://timg01.bdimg.com/timg?searchbox_feed&amp;size=f218_146&amp;imgtype=1&amp;quality=100&amp;wh_rate=0&amp;ref=http%3A%2F%2Fwww.baidu.com&amp;sec=0&amp;di=534dd1b1e3524eaec275b13acc513021&amp;src=http%3A%2F%2Ff11.baidu.com%2Fit%2Fu%3D3888486478%2C2963889195%26fm%3D173%26app%3D25%26f%3DJPEG%3Fw%3D218%26h%3D146%26s%3DE70ED30454A032B48CBCCDD7030080AE"
											alt="" class="_3p6NZz5KhqkE_GsowgTvsE">
									</div>
									<div class="_3U4VjxkD_mBH5h21lbb7NN">
										<h2>短视频已沦为巨头间游戏 好看视频借力百度扶摇直上</h2>
										<div class="_10eGO7spa38to6ZfMDjOZ1">
											<span class="OzZxpJly7Z0XXbNT1Nfk9">科技地平线</span>
										</div>
									</div>
								</div></li>
						</ul>
					</div>
					

					<div class="contentSize contentPadding">
						<div class="linepxT _17c98MKx3ljJ1pHH7afKI3" style="">
							<div class="_1WUmFamm7uy-Flw9IFWmwk">打开百度App看更多资讯</div>
						</div>
					</div>
				</div>
			</div>
			<div class="outmargin">
				<div class="_3Lg9_aL1ZIf7Ry_XN0wdHc">
					<div class="_1T6TbV3IOYsTyKUDLU3h5K">
						<span>精彩视频</span>
					</div>
					<ul class="contentFont">
						<li class="xIxUc0519h4r7moVn63Y7"><div
								class="_3WFzQS_lKvtlzIVerP0mqD">
								<div class="AfkfFyJW6qiLWU5gsNZtp">
									<div class="_3p6NZz5KhqkE_GsowgTvsE"
										style="background-image: url(&quot;http://pic.rmb.bdstatic.com/5f60e5c19a062387c44f50093d1b20b9.png&quot;);"></div>
									<div class="_3LvmsEmIf8amdjICYA9W1c">
										<span class="_3drMB4mvmD8LNMftGRd-w9"></span>00:36
									</div>
								</div>
								<div class="_3U4VjxkD_mBH5h21lbb7NN">
									<h2>汪涵大张伟宣传百度这口播太顺溜！百家号创作者幸福降临</h2>
									<div class="_10eGO7spa38to6ZfMDjOZ1">
										<span class="OzZxpJly7Z0XXbNT1Nfk9">娱乐圈大咖汇</span>
									</div>
								</div>
							</div></li>
					</ul>
				</div>
			</div>
			<div class="outmargin">
				<div class="_3Lg9_aL1ZIf7Ry_XN0wdHc">
					<div class="_1T6TbV3IOYsTyKUDLU3h5K">
						<span>热门推荐</span>
					</div>
					<ul class="contentFont">
						<li class="_1_TZfvoioDuZqfv4BWZrD0"><div
								class="_3WFzQS_lKvtlzIVerP0mqD">
								<div class="AfkfFyJW6qiLWU5gsNZtp">
									<img
										src="https://timg01.bdimg.com/timg?searchbox_feed&amp;size=f218_146&amp;imgtype=1&amp;quality=100&amp;wh_rate=0&amp;ref=http%3A%2F%2Fwww.baidu.com&amp;sec=0&amp;di=7a1a21661507bb296d1003a08416f06f&amp;src=http%3A%2F%2Ff10.baidu.com%2Fit%2Fu%3D3092918031%2C1319486494%26fm%3D173%26app%3D49%26f%3DJPEG%3Fw%3D218%26h%3D146%26s%3D8F8A9B476A773E1B72A58C9903008093"
										alt="" class="_3p6NZz5KhqkE_GsowgTvsE">
								</div>
								<div class="_3U4VjxkD_mBH5h21lbb7NN">
									<h2>1月百城二手房挂牌均价14902元/平米，64%城市降价，二线下跌最惨</h2>
									<div class="_10eGO7spa38to6ZfMDjOZ1">
										<span class="OzZxpJly7Z0XXbNT1Nfk9">公司见闻</span>
									</div>
								</div>
							</div></li>
					</ul>
				</div>
			</div>
			<div class="newVersion">
				<div class="commentTitle">
					<span class="">热门评论</span>
				</div>
				<div class="app" id="commentModule" style="display: none;">
					<div class="commentEmbedvotewrap"></div>
				</div>
			</div>
			<div></div>
			<div class="_1k19YN3-qdVhoYpBLDMjYV">
				<span class="psDTG2YH-UVvL5hI8Ye4a"></span><span
					class="_2v86xffLyWbTz5nRDFr_L_ _2xxXjJo3ZlFeRRLLUMtAr_">去百度App听</span>
			</div>
			<div class="_3wfQqsHGAcIVVdA61fJzrI" style="">
				<div class="_2EfcLpFnXitloNES-crwF7"></div>
			</div>
		</div>
	</div>
</body>
</html>