<div class="share-bottom-tips-wrap on-animation">
	<div class="cb-banner  share-bottom-tips">
		<div class="slick-slider slick-initialized" dir="ltr">
			<div class="slick-list">
				<div class="slick-track"
					style="width: 11081px; opacity: 1; transform: translate3d(-4749px, 0px, 0px);">
					<div data-index="-1" tabindex="-1" class="slick-slide slick-cloned"
						aria-hidden="true" style="width: 1583px;">
						<div>
							<div class="mod-download">
								<div class="mod-download-tips">
									<div class="mod-download-fixer">
										<div class="mod-download-tips-con active">
											<div class="_1qyoV">
												<div class=" bJSEN _3cqcG _3DIO- "
													style="padding-bottom: 75%;">
													<img
														src="http://zxpic.imtt.qq.com/MTTNews/0/20181212081328_4859045694518235763_1_192_144/0">
												</div>
											</div>
											<div class="col-center">
												<p>男子对陌生女子一见钟情，苦等50天没寻到人，决定将其告上法庭</p>
											</div>
											<div class="col-right">
												<a href="javascript:"
													class="mod-btn is-download is-surface is-E4"><span
													class="bar" style="width: 100%;"><span
														style="width: 56px;">下载</span></span></a>
												<div class="G-ico G-ico-del-life close"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div data-index="0" class="slick-slide" tabindex="-1"
						aria-hidden="true" style="outline: none; width: 1583px;">
						<div>
							<div class="mod-download">
								<div class="mod-download-tips">
									<div class="mod-download-fixer">
										<div class="mod-download-tips-con active">
											<div class="_1qyoV">
												<div class=" bJSEN _3cqcG _3DIO- "
													style="padding-bottom: 75%;">
													<img
														src="http://zxpic.imtt.qq.com/MTTNews/0/20181208173612_5461185756644067512_1_192_144/0">
												</div>
											</div>
											<div class="col-center">
												<p>redis数据结构与常用操作</p>
											</div>
											<div class="col-right">
												<a href="javascript:"
													class="mod-btn is-download is-surface is-E4"><span
													class="bar" style="width: 100%;"><span
														style="width: 56px;">下载</span></span></a>
												<div class="G-ico G-ico-del-life close"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-index="1" class="slick-slide" tabindex="-1"
						aria-hidden="true" style="outline: none; width: 1583px;">
						<div>
							<div class="mod-download">
								<div class="mod-download-tips">
									<div class="mod-download-fixer">
										<div class="mod-download-tips-con active">
											<div class="_1qyoV">
												<div class=" bJSEN _3cqcG _3DIO- "
													style="padding-bottom: 75%;">
													<img
														src="http://zxpic.imtt.qq.com/zxpic_imtt/abstractimage/2018/12/10/1300/130323_3858157421276775157_1_192_144.jpg">
												</div>
											</div>
											<div class="col-center">
												<p>押宝CX-8或成长安马自达的滑铁卢</p>
											</div>
											<div class="col-right">
												<a href="javascript:"
													class="mod-btn is-download is-surface is-E4"><span
													class="bar" style="width: 100%;"><span
														style="width: 56px;">下载</span></span></a>
												<div class="G-ico G-ico-del-life close"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-index="2" class="slick-slide slick-active slick-current"
						tabindex="-1" aria-hidden="false"
						style="outline: none; width: 1583px;">
						<div>
							<div class="mod-download">
								<div class="mod-download-tips">
									<div class="mod-download-fixer">
										<div class="mod-download-tips-con active">
											<div class="_1qyoV">
												<div class=" bJSEN _3cqcG _3DIO- "
													style="padding-bottom: 75%;">
													<img
														src="http://zxpic.imtt.qq.com/MTTNews/0/20181212081328_4859045694518235763_1_192_144/0">
												</div>
											</div>
											<div class="col-center">
												<p>男子对陌生女子一见钟情，苦等50天没寻到人，决定将其告上法庭</p>
											</div>
											<div class="col-right">
												<a href="javascript:"
													class="mod-btn is-download is-surface is-E4"><span
													class="bar" style="width: 100%;"><span
														style="width: 56px;">下载</span></span></a>
												<div class="G-ico G-ico-del-life close"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="slick-dots" style="display: block;">
				<li class=""><button>1</button></li>
				<li class=""><button>2</button></li>
				<li class="slick-active"><button>3</button></li>
			</ul>
		</div>
	</div>
</div>