	<footer>
		<div id="footer">
			<div class="foot-bg">
				<div class="foot-wrap">
				<style>
			.foot-about{
				//float: left;
			}
			.foot-link{
				//float: right;
			}
			.foot-logo{
				left:0px;
				margin-left: -25px;
			}
			    
	</style>
					<div class="foot-about">
						<a href="#container" class="foot-logo scroll">关于设计达人：</a>
						<p>
							我热爱设计，虽然没有达到狂热的程度，但注定我已经离不开设计，它就像有生命似的，改变了我、我的生活，而我也坚信，设计能改变人们、人们的生活以及全世界。所以我高傲的称自己为设计达人，而你就是下一个，<a
								href="http://www.shejidaren.com/about">WELCOME</a>.
						</p>
						<div class="share">
							<ul>
								<li><a href="http://www.shejidaren.com/feed"
									target="_blank">RSS</a></li>
								<li><a href="http://weibo.com/1750584642" target="_blank">新浪微博</a></li>
								<li><a
									href="http://list.qq.com/cgi-bin/qf_invite?id=6d167616946490d539103a09a882f40935af00c4639d35cc"
									target="_blank">订阅到邮箱</a></li>
							</ul>
						</div>
					</div>
				
					<div class="foot-link">
						<dl>
							<dt>
								联系<span> / Contact</span>
							</dt>
							<dd>
								<a href="http://www.shejidaren.com/about" title="关于">关于设计达人</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/ad" style="display: none">广告合作</a>
							</dd>
							<dd>
								<a target="_blank" href="http://shejidaren.diandian.com/submit"
									rel="nofollow">在线投稿</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/about#comments"
									rel="nofollow">在线留言</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/about" rel="nofollow">加入分享达人</a>
							</dd>
						</dl>
						<dl>
							<dt>
								灵感<span> / Inspiration</span>
							</dt>
							<dd>
								<a href="http://www.shejidaren.com/go/ui-design/" rel="nofollow">UI设计欣赏</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/go/web-design/"
									rel="nofollow">优秀网页设计欣赏</a>
							</dd>
						</dl>
						<dl class="pr-link">
							<dt>
								热门标签<span> / Hot Tags</span>
							</dt>
							<dd>
								<a href="http://www.shejidaren.com/tag/自适应">响应式设计</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/tag/扁平化设计">扁平化设计</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/tag/app网站设计">APP网站设计</a>
							</dd>
							<dd>
								<a href="http://www.shejidaren.com/tag/全屏网页设计">全屏网页设计</a>
							</dd>
						</dl>
					</div>


					<div class="friend-link">
						友情链接 (<a href="http://www.shejidaren.com/links" rel="nofollow">申请链接</a>)：
						<a href="http://hao.shejidaren.com/" target="_blank">设计导航</a> <a
							href="http://hao.shejidaren.com/book.html" target="_blank">设计书籍</a>
						<a href="http://www.dysdesign.com/" target="_blank">多元素</a> <a
							href="http://www.2dianban.com/" target="_blank">设计2点半</a> <a
							href="http://www.uisdc.com/" target="_blank">优设网</a> <a
							href="http://www.caogong.org/" target="_blank">曹工设计</a> <a
							href="http://www.mobanku.com/" target="_blank">模板库</a> <a
							href="http://www.jiawin.com/" target="_blank">觉唯</a> <a
							href="http://aladd.net/" target="_blank">小清新</a><br>
						<br> <a href="http://www.xueui.cn/" target="_blank">学UI网</a>
						<a href="http://www.mobileui.cn/" target="_blank">莫贝网</a> <a
							href="http://699pic.com/" target="_blank">摄图网</a> <a
							href="https://www.fotor.com.cn/ " target="_blank">平面设计网站</a>
					</div>

					<div class="copyright">
						主题由采用 HTML5 + CSS3 + <a
							href="http://www.shejidaren.com/go/linode/" target="_blank"
							rel="nofollow" title="可代购Linode">Linode主机</a> 构建。静态资源由 <a
							href="http://www.shejidaren.com/go/aliyun/" target="_blank"
							rel="nofollow">阿里云</a> 提供。©2009-2017 设计达人. 保留所有权利。<a
							href="http://www.miitbeian.gov.cn/" rel="nofollow"
							target="_blank">粤ICP备13034152号</a><br>联系站长:CommyLeung(at)gmail.com
						Power by <a href="http://www.shejidaren.com/tag/wordpress">wordpress</a>
						38 queries in 0.316 sec
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->
	</footer>
	<a href="#container" class="top">Top</a>
</body>
</html>	