					<div class="article-header">
						<div style="padding-top: 20px; text-align: center; font-weight: bold; font-size: 14px; color: #888">
							<span style="font-size: 36px; color: #e5894c">-2018-</span><br />小博客，大成长，每天进步一点点~
						</div>
					</div> 
					
					<article class="home-banner">
						<section class="banner clearfix">
							<!-- slider begin -->
							<div class="unslider-bd">
								<div class="automatic-slider unslider-horizontal">
									<ul>
										<li><a href="http://www.shejidaren.com/mu-ban-wen-li.html">
										    <img src="https://wx2.sinaimg.cn/large/005Aou0Kly1fgqcj2syzqj30f607fq3v.jpg" /></a>
										</li>
										<li><a href="http://www.shejidaren.com/super-search-for-designer.html">
											<img src="https://wx2.sinaimg.cn/large/005Aou0Kly1fgqck4r2upj30f607fjrv.jpg" /></a>
										</li>
										<li><a href="http://www.shejidaren.com/banner-she-ji-de-hao-huai.html">
											<img src="http://wx3.sinaimg.cn/large/005Aou0Kgy1fhh2r2js8aj30f607fdg9.jpg" /></a>
										</li>
									</ul>
								</div>
							</div>
							<script>
								$('.automatic-slider').unslider({
									autoplay : true
								});
							</script>
							<!-- slider END -->

							<ul class="point-list">
								<li><a href="http://www.shejidaren.com/golden-ratio.html" target="_blank" class="point-list-thumb">
									<img src="http://images.shejidaren.com/banner/sjdr-banner/b-sm-01.png"alt=""></a>
									<a href="http://www.shejidaren.com/golden-ratio.html"class="point-list-text" target="_blank">黄金比例在线计算工具</a>
								</li>
								<li><a target="_blank" href="http://www.shejidaren.com/100-logo-designs-and-5-rules.html" class="point-list-thumb">
									<imgsrc="http://wx2.sinaimg.cn/large/005Aou0Kgy1fi4a46qlh1j303l01rdfm.jpg"></a>
									<a target="_blank" href="http://www.shejidaren.com/100-logo-designs-and-5-rules.html" class="point-list-text">100个文字图形标志与5条黄金法则</a></li>
								<li>
									<a href="http://www.shejidaren.com/2014-wordpress-zhu-ti.html"class="point-list-thumb">
									<img src="http://images.shejidaren.com/banner/banner-small-3.jpg" alt="优秀WordPress主题推荐 响应式设计"></a>
									<a href="http://www.shejidaren.com/2014-wordpress-zhu-ti.html" class="point-list-text">优秀WordPress主题推荐 响应式设计</a>
								</li>
								<li>
									<a href="http://hao.shejidaren.com/book.html?ref=homeBanner" class="point-list-thumb" rel="nofollow">
									<img src="http://images.shejidaren.com/banner/design-books.png"alt=""></a>
									<a href="http://hao.shejidaren.com/book.html?ref=homeBanner"class="point-list-text">100本最受欢迎设计书籍 </a>
								</li>
							</ul>
						</section>
					</article>