<!-- 模板引入 -->
{include file="/public/pub_header" /}
<style>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
.iframe {
  width: 100%;
  //height: 100%;
  border: 0;
  overflow: hidden;
  box-sizing: border-box;
}
</style>
<body>

<div id='app'>
	<template>
		<el-table :data="tableData"  height="650"  border style="width: 100%":row-class-name="tableRowClassName"> 
		
			<el-table-column type="selection" width="55"></el-table-column><!--多选框-->
			<el-table-column prop="id" width="80" align="center" label="ID" sortable :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}]" :filter-method="filterHandler"> </el-table-column>
			<el-table-column prop="title" label="标题" :filters=<?php echo $title; ?> :filter-method="filterHandler" ></el-table-column><!-- :filters为筛选 -->
			<el-table-column prop="uname" align="center" label="作者" sortable></el-table-column>
			<el-table-column prop="atime" align="center" label="发布时间" ></el-table-column>
			<el-table-column prop="ispl" align="center" label="评论" sortable ><!--sortable排序  -->
				<template slot-scope="scope">
				  <el-switch v-model="scope.row.ispl" :active-value="1" :inactive-value="0" active-text='启用'  inactive-text='禁用' @change=switch_change(scope.$index,scope.row.ispl) ></el-switch>
				</template>
			</el-table-column>
			
			<el-table-column prop="ispl" align="center" label="评论">
				<template slot-scope="scope">
				  <button v-if="scope.row.ispl">启用</button>
				  <button v-else >停用</button>
				</template>
			</el-table-column>
			<el-table-column label="操作" align="center">
		      <template slot-scope="scope">
		        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
		        <!-- <el-button size="mini" @click="dialogVisible = true">编辑</el-button> -->
		        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
		      </template>
		    </el-table-column>
		
		</el-table>
	</template>
	
	<template>
	<el-dialog title="编辑" :fullscreen="false" top='5vh' :visible.sync="dialogVisible" height="680"  width="90%" :before-close="handleClose">
		<template>
	  		<iframe id="iframe_obj" class="iframe" ></iframe>
	  	</template>
	</el-dialog>
	</template>
</div>
<script type="text/javascript">
const url = ''; 

var Main = {
	/* 数据层 */ 	
   data() {
	return {
	tableData:this.get_list({$list},'atime'),
	dialogVisible: false,
	iframe : url,
     }
   },
   /*方法层  */
   methods: {
	   switch_change(index,row){
		   log(index);log(row);
	   },
	   tableRowClassName({row, rowIndex}) {
	        if (rowIndex === 1) {
	          return 'warning-row';
	        } else if (rowIndex === 3) {
	          return 'success-row';
	        }
	        return '';
	      },
      formatter(row, column) {
          return row.address;
        },
        filterTag(value, row) {
          return row.tag === value;
        },
        filterHandler(value, row, column) {
          const property = column['property'];
          return row[property] === value;
        },     
     submitForm(formName) {
       this.OpenLoading();	 
       this.$refs[formName].validate((valid) => {
         if (valid) { //valid 返回表单验证的结果
        	var toUrl = _app + '/log/add_log_do';
        	var data = this.$refs[formName].model;
        	data.content = Editor.html();
        	Ajax.is_log = true;
        	var value = Ajax.ajax_url(toUrl,data,'POST','');
        	//var token= xhr.getResponseHeader("token");
	    	log(value);
	    	
        	this.notice(value.title,value.msg, value.code );//执行提示
	    	
        	if(value.code != 200){
        		this.$refs[formName].model.__token__ = value.__token__;
        	}else{ 
        		jump_url('/Log/log_list');	
        	}
         }
         return false;
       });
     },
     resetForm(formName) {
       this.$refs[formName].resetFields();
     },
     handleEdit(index,item){
    	var src = 'edit_log'+"/id/"+item.id;
	  	setTimeout(function(){ $("#iframe_obj").attr('src',src); },0)
	  	this.dialogVisible = true; 
     },
     typeChange(){
    	 log("checkbox 改变事件");
     },
     handleClose(done) {
         this.$confirm('确认关闭？').then(_ => { done(); }).catch(_ => {});
     },
   },
   /* 渲染层  */
   mounted() {	   
	   //this.notice('成功啦啦啦','操作成功','success');//挂载时及执行的 类似于 onload
	   //this.loading();
	   this.OpenLoading();
   }
}
var Ctor = Vue.extend(Element_Main_init(Main));
window_Ctor = new Ctor().$mount('#app');
</script>

</body>
</html>